<article nz-typography>
  <h1 nz-typography class="title">Merge PDF files</h1>
  <p class="paragraph-pad" nz-typography>
    Combine PDFs in the order you want with the easiest PDF merger available.
  </p>
</article>

<div class="upload-area">
  <h1>upload</h1>
  <input
    type="file"
    id="input"
    multiple
    accept=".pdf"
    (change)="onFileSelected($event)"
  />
  <nz-divider></nz-divider>
  <button (click)="mergePDFs()">Merge PDFs</button>
  <nz-divider></nz-divider>
  <div *ngIf="mergedPdfUrl">
    <a *ngIf="mergedPdfUrl" [href]="mergedPdfUrl" download="merged_document.pdf"
      >Download Merged PDF</a
    >
    <h1>result</h1>
    <iframe class="pdf_viewer" [src]="mergedPdfUrl | safe"></iframe>
  </div>
</div>
